// base folder _mixins, _variables,  _fonts:
@import 'base/variables';
@import 'base/mixins';
@import "base/fonts";


// fonts and null-style:
@import "null-style/nullstyle";


// libs/animation:
@import "libs/animate";


// main style:
.wrapper{
	min-width: 100%;
	overflow: hidden;
}

.container{
	padding: 0 15px;
	width: 1140px;
	margin: 0 auto;
	// border: 1px solid red;
}


// blocks(modules):
@import "blocks/promo";


/*============================================================================================================*/
// _buttons style:
@import "blocks/button";

// titles:
@import "blocks/title";
 
// forms:

// overlay:

//scroll animation (svg):

// css animation:

// iframe: