.contacts{
	padding: 10px 0px 90px 0px;
	&__descr{
		&_title{
			position: relative;
			z-index: 2;
			padding-left: 12px;
			@include before_circle;
			&:before{
				top: -21%;
				left: 0px;
			}
		}
	}
	&__divider{
		margin: 0 0 20px 0;
	}
	&__wrapper{
		padding: 0px 35px 0 50px;
		display: grid;
		grid-template-columns: 400px 585px;
		justify-content: space-between;
		column-gap: 15px;
	}
	&__link{
		&:not(:last-child){
			margin-right: 20px;
		}
			img{
			max-width: 30px;
			max-height: 30px;
			object-fit: cover;
			&:hover{
				transform: scale(125%);
				transition: all .4s;
				filter: drop-shadow(0 -3px 3mm #2fbae49a);
				}
			}
	}
	&__photo{
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__social{
		padding: 8px 0 20px 0;
	}
	&__form{
		padding-top: 18px;
		display: grid;
		grid-template-columns:  repeat(2, minmax(280px, auto));
		grid-template-rows: repeat(auto-fit,  minmax(45px, auto));
		grid-auto-rows: minmax(45px, auto);
		row-gap: 30px;
		column-gap: 25px;

		label{
			display: block;
			position: absolute;
			height: 18px;
			padding: 0 8px;
			background-color: #fff;
			font-size: 12px;
			top: -9px;
			left: 12px;
		}
	}
	&__input{
		border: 1px solid #000000;
		position: relative;
		input{
			height: 100%;
			width: 100%;
			min-height: 45px;
			padding: 0px 10px;
			font-size: 12px;
			line-height: 18px;
			color: #000000;
		}
	}
	&__textarea{
		border: 1px solid #000000;
		grid-column: 1/3;
		position: relative;
		textarea{
		height: 100%;
		width: 100%;
		min-height: 190px;
		padding: 15px;
		resize: none;
		}
	}
	&__triggers{
		display: grid;
		grid-column: 1/3;
		grid-template-rows: repeat(2 / auto);
		column-gap: 15px;
	}
	&__btn{
		grid-column: 1/2;
		font-weight: 700;
		font-size: 14px;
		line-height: 21px;
		max-width: 220px;
		justify-content: center;
		text-align: center;
	}
	&__policy{
		grid-column: 2/3;
		align-self: center;
		font-size: 12px;
		line-height: 18px;
		a{
			color: #2306D6;
			&:hover{
				text-decoration: underline;
			}
		}
		input{
			margin-right: 10px;
		}
	}
}

