// special settings for social pannel::after
@media only screen and (max-width: 1320px){
	.sidepanel{
		display: none;
	}
}

@media only screen and (max-width: 1200px){

	._grid-container{
		max-width: 1140px;
	};
	.about_me{
		padding: 60px 0 70px 0;
		&__img{
			width: 85%;
			margin: 0 auto;
			object-position: center;
		}
	};
	
	.resume{
	padding: 20px 0 10px 0;
		&__wrapper{
		grid-template-columns: repeat(auto-fill, minmax(425px, 1fr));
		}
	};

	.work{
		padding: 15px 0 60px 0;
		&__grid-container{
			grid-template-columns: repeat(auto-fill, 270px);
			justify-content: center;
		}
	}
	
	.portfolio{
		&__wrapper{
			grid-template-columns: repeat(auto-fit, 1fr);
	
			.vertical{
				grid-column: 1/2;
				grid-row: 2/4;
			
			};
			.horizontal{
				
			}
			.minesweeper{
				// grid-column: 2/3;
				// grid-row: 3/4;
			}
		}
	};

	.contacts{
		padding: 15px 0 40px 0;
		&__wrapper{
			grid-template-columns: 1fr;
			justify-content: center;
		}
		&__photo{
			img{
				display: none;
			}
		}
	}

}
@media only screen and (max-width: 992px){
	._grid-container{
		max-width: 720px;
	};

	.title{
		&_fz48{
			font-size: 40px;
			line-height: calc(50px / 40px);
		}
	}

	.promo{
		&__body{
			padding: 160px 0 160px;
			&::after{
				top: -10%;
				background: url('../img/img/header/dev.png') no-repeat 70%;
			}
		}
	}

	.about_me{
		padding: 30px 0 30px 0;
		&__img{
			width: 60%;
		}
	}

	.resume{
		&__wrapper{
		padding: 30px 35px 0 35px;
		row-gap: 30px;
		}
	}

	.work{
	padding: 15px 0 60px 0;
		&__grid-container{
			margin-bottom: 60px;
		}
		&-header{
		margin-bottom: 50px;
		}
	}
	
	.portfolio{
		padding: 10px 0px 57px 0px;
		.divider{
			margin-bottom: 40px;
		}
	}

	.price{
	padding: 10px 0 45px 0;
		&__grid-container{
		grid-template-columns: 1fr;
		grid-template-rows: (auto, minmax(44px, auto));
		}
		.divider{
			margin-bottom: 40px;
		}
	}

}
@media only screen and (max-width: 768px){

	.title{
		&_fz48{
			font-size: 35px;
			line-height: calc(37px / 35px);
		}
		&_fz36{
			font-size: 28px;
		}
	}

	.promo{
		&__body{
			padding: 130px 0 80px;
			&::after{
				top: -10%;
				left: 4%;
				background: url('../img/img/header/dev.png') no-repeat 45%/30%;
			}
		}
		&__subtitle{
			margin-bottom: 15px;
		}
	}

	#about_me__skills{
		grid-template: repeat(2, 115px) / repeat(auto-fill, minmax(260px, auto));
		grid-auto-rows: 115px;
	}

	.about_me{
		padding: 10px 0 10px 0;
		&__img{
			width: 50%;
		}
		&__title{
			margin-top: 15px;
		}
		&__subtitle{
			font-size: 28px;
		}
	};

	.work{
		padding: 15px 0 30px 0;
			&__grid-container{
				grid-template-rows: minmax(170px, auto);
				grid-template-columns: repeat(auto-fill,minmax(170px, auto) ) ;
				grid-auto-rows: minmax(170px, auto);
				margin-bottom: 40px;
			}
			&-footer{
				&__body{
					grid-template-columns: repeat(auto-fit, minmax(340px, auto));
					column-gap: 20px;
				}
			}
	}
	.technology{
	padding: 15px 15px 10px 15px;
	}

	.portfolio{
		padding: 10px 0px 37px 0px;
	}

	.price{
	padding: 10px 0 35px 0;
	}

	.contacts{
		padding: 10px 0 30px 0;
		&__textarea{
			min-height: 50px;
		}
		&__form{
			grid-template: none;
		}
	}

}
@media only screen and (max-width: 576px){

		.btn{
			padding: 8px 20px;
			height: 40px;
		}

		.title{
				&_fz48{
					font-size: 26px;
					line-height: calc(29px / 26px);
				}
				&_fz36{
					font-size: 26px;
				}
				&_fz20{
					font-size: 18px;
				}
				&_fz16{
					font-size: 14px;
				}
			}

		.promo{
			&__body{
				padding: 90px 0 65px;
				&::after{
					left: -2%;
					top: 5%;
					background: url('../img/img/header/dev.png') no-repeat 35%/23%;
				}
			}
		}

		.hamburger{
			span{
				&:not(:last-child){
					margin-bottom: 7px;
				}
			}
		}

		.about_me{
			padding: 0;
			&__dash{
				margin-bottom: 10px;
			}
			&__img{
				width: 55%;
				margin-bottom: 8px;
			}
			&__title{
				margin-top: 15px;
			}
			&__subtitle{
				font-size: 28px;
				margin-bottom: 5px;
			}
		};

		.resume{
			padding: 30px 0 20px 0;
			&__wrapper{
			padding: 15px 15px 0 15px;
			row-gap: 20px;
			grid-template-columns: 1fr;

			}
			&__item-head{
				padding: 45px 0 0 100px;
			}
			&__item-body{
				font-size: 13px;
				padding-left: 40px;
			}
			.divider{
				margin-bottom: 20px;
			}
		};

		.work{
			padding: 25px 0 20px 0;
				&__grid-container{
					grid-template-columns: repeat(auto-fill, auto);
					gap: 0px;
				}
				&__header{
					margin-bottom: 20px;
				}
				&-footer{
					&__body{
						grid-template-columns:  1fr;
						
					}
				}
				.divider{
					margin-bottom: 20px;
				}
		}
		
		.portfolio{
			padding: 20px 0px 25px 0px;
			.divider{
				margin-bottom: 25px;
			}
		}
	
		.price{
			padding: 20px 0 25px 0;
			&__title{
				line-height: 18px;
				font-size: 13px;
			}
			&__cost{
				line-height: 18px;
				font-size: 13px;
			}
			.divider{
				margin-bottom: 20px;
			}
		}

		.contacts{
			padding: 20px 0 3 0px 0;
			&__wrapper{
				padding: 0;
			}
			&__social{
				grid-template: 1fr / 1fr;
			}
		}
}

@media only screen and (max-width: 390px){

	.title{
		&_fz36{
			font-size: 23px;
		}
	}

	.promo{
		&__body{
			padding: 45px 0 35px;
			&::after{
				opacity: 0.40;
				top: 0%;
				left: -5%;
				background: url('../img/img/header/dev.png') no-repeat 25%/20%;
			}
		}
		&__btns{
			margin-top: 25px;
			width: 220px;
		}
	}
	.about_me__body-grid{
		grid-template-columns: repeat(auto-fill, minmax(270px, auto));
	}
	
}

// mobile first adaptive settings for grid elements
@media only screen and(min-width: 1200px){
	._grid-container{
		width: 1140px;
	}
}
