.promo{
	min-height: 100vh;
	position: relative;
	z-index: 2; 
	background-color: rgba(188,229,249,255);

	&__body{
		position: relative;
		padding: 213px 0 229px;
		&::after{
			content: "";
			background: url('../img/img/header/dev.png') no-repeat right/55%;
			position: absolute;
			z-index: -1;
			top: -5%;
			left: 5%;
			right: 0; 
			bottom: 0;   
			min-width: 100%;
			opacity: 1; 
	
			@media(max-width: 992px){
				top: -10%;
				background: url('../img/img/header/dev.png') no-repeat 70%;
			}
			@media(max-width: 768px){
				top: -10%;
				left: 4%;
				background: url('../img/img/header/dev.png') no-repeat 45%/30%;
			}
			@media(max-width: 576px){
				left: -2%;
				top: 5%;
				background: url('../img/img/header/dev.png') no-repeat 35%/23%;
			}
			@media(max-width: 390px){
				opacity: 0.40;
				top: 0%;
				left: -5%;
				background: url('../img/img/header/dev.png') no-repeat 25%/20%;
			}
		}
		@media(max-width: 992px){
			padding: 160px 0 160px;
		}
		@media(max-width: 768px){
			padding: 130px 0 80px;
		}
		@media(max-width: 576px){
			padding: 90px 0 65px;
		}
		@media(max-width: 390px){
			padding: 45px 0 25px;
		}
	}

	&__title{
		margin-top: 10px;
	}
	&__subtitle{
		padding: 0 0 0 10px;
		position: relative;
		@include before_circle;
	}
	&__btns{
		margin-top: 25px;
		display: flex;
		width: 250px;
		justify-content: space-between;
		align-items: center;

		@media(max-width: 390px){
		margin-top: 25px;
		width: 220px;
		}
	}
	&__link{
		font-weight: 700;
		line-height: calc(21px / 14px);
		color: inherit;

		&:hover{
			text-decoration: underline;
		}
	}
}
