.promo{
	// min-height: 50vh;
	// min-height: ;
	position: relative;
	z-index: 2; 
	background-color: rgba(188,229,249,255);

	&__body{
		position: relative;
		padding: 213px 0 229px;
		&::after{
			content: "";
			background: url('../img/img/header/dev.png') no-repeat right/55%;
			position: absolute;
			z-index: -1;
			top: -5%;
			left: 5%;
			right: 0; 
			bottom: 0;   
			min-width: 100%;
			opacity: 1; 
		}
	}

	&__title{
		// margin-top: 10px;
	}
	&__subtitle{
		margin-bottom: 20px;
		padding: 0 0 0 10px;
		position: relative;
		@include before_circle;
	}
	&__btns{
		margin-top: 25px;
		display: flex;
		width: 250px;
		justify-content: space-between;
		align-items: center;
	}
	&__link{
		font-weight: 700;
		line-height: calc(21px / 14px);
		color: inherit;

		&:hover{
			text-decoration: underline;
		}
	}
}
