._grid-container{
	margin:0 auto;
	padding: 0 15px;
}

.resume{
	padding: 20px 0 100px 0;
	// display: grid;
	&__title{
		position: relative;
		text-align: center;
		@include before_circle;
		z-index: 3;
		&:before{
			top: -8px;
			left: 46.5%;
			transform: translateX(-50%);
		}
	}
	&__subtitle{
		text-align: center;
	}
	&__wrapper{
		padding: 60px 65px 0 65px;
		display: grid;
		grid-template-columns: repeat(2, 425px);
		grid-template-rows: repeat(1, minmax(370px, auto));
		grid-auto-rows: minmax(370px, auto);
		column-gap: 135px;
	}
	&__body{
		font-size: 12px;
		line-height: 18px;
	}
	&__column{
		&-title{
			padding: 0 0 0 35px;
			position: relative;
			&::before{
				content: '';
				position: absolute;
				left: -7px;
				top: 50%;
				transform: translateY(-50%);
				width: 15px;
				height: 15px;
				background-color: $orange-color-background;
				border-radius: 50%;
			}
		}
		li{
			position: relative;
			&::after{
				position: absolute;
				content: '';
				height: calc(100% + 7px);
				width: 1px;
				top: -7.5px;
				left: 0;
				background-color: black;
			}
		}
	}
	&__item{
		position: relative;
		&::before{
			position: absolute;
			content: '';
			left: 22px;
			top: 40px;
			width: 1px;
			background-color: black;
			height: 43.5px;
			transform: rotate(90deg);
			z-index: 1000;
		}
		&-icon{
			position: absolute;
			left: 60px;
			top: 51px;
			transform: translateY(20%);
			@include before_circle;
			&:before{
				width: 35px;
				height: 35px;
				left:  -16px;
				top: -12px;
			}
		}
		&-location{
			font-size: 12px;
			line-height: 18px;
			margin-bottom: 12px;
		}
		&-body{
			padding-left: 43px;
			line-height: 18px;
		}
		&-head{
			padding: 45px 0 0 100px;
		}
	}
}