.title{
	font-weight: bold;
	line-height: calc(60px / 36px);
	margin-bottom: 12px;

	&_fz14{
		font-size: 14px;
		line-height: calc(21px / 14px);
	}
	&_fz16{
		font-size: 16px;
		line-height: calc(24px / 16px);
	}
	&_fz48{
		font-size: 48px;
	}
	&_fz36{
		font-size: 36px;
	}
	&_fz20{
		font-size: 20px;
		line-height: 30px;
	}
	&__section-title{
		margin-bottom: 15px;
		text-align: center;
		position: relative;
		z-index: 2;
		@include before_circle;
		&:before{
			top: -6px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&__section-subtitle{
		text-align: center;
	}
}

