.divider{
	margin-top: 0;
}

.work{
	padding: 15px 0 146px 0;

	&__grid-container{
		max-width: 1140px;
		display: grid;
		grid-template-rows: repeat(2, minmax(270px, auto));
		grid-template-columns: repeat(4, 270px);
		grid-auto-rows: minmax(270px, auto);
		gap:12px;
		margin-bottom: 128px;
	}
	&-header{
		margin-bottom: 60px;
		text-align: center;
		&__title{
			margin-bottom: 19px;
			position: relative;
			z-index: 1;
			&::before{
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				transform: translate(-50%, -15%);
				z-index: -1;
				width: 30px;
				height: 30px;
				background-color: $orange-color-background;
				border-radius: 50%;
			}
		}
		&__subtitle{
			margin-bottom: 12px;
		}
	};

	&-footer{
		&__body{
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(340px, auto));
			grid-template-rows: repeat(2, minmax(70px, auto));
			column-gap: 40px;
			row-gap: 30px;
		}
		&__title{
			position: relative;
			&::before{
				position: absolute;
				content: '';
				width: 40px;
				height: 40px;
				background-color: $orange-color-background;
				border-radius: 50%;
				z-index: -1;
				left: -18px;
				top: -10px;
			}
		}
		&__block_main{
			
			display: flex;
			justify-content: space-between;
			margin-bottom: 27px;
			padding-left: 15px;
		}
		&__scale{
			position: relative;
			height: 14px;
			background: #e8e1de;
			border-radius: 4px;
			width: 100%;
			z-index: -3;

				&_child{
					position: absolute;
					top: 0;
					left: 0;
					background: #e65111;
					height: 100%;
					border-radius: 4px;
					z-index: 1000;
				}
		}
	}
}


.technology{
	padding: 30px 30px 25px 30px;
	&__img{
		margin-bottom: 20px;
		min-height: 65px;
		img{
			object-fit:cover;
			height: 100%;
		}
	}
	&__title{
		margin-bottom: 15px;
	}
	&__descr{
		font-size: 12px;
		line-height: 18px;
	}
}
#jquery-img{
	padding-top: 15px;
}