.divider{
	margin-top: 0;
}

.work{
	padding: 15px 0 146px 0;

	&__grid-container{
		max-width: 1140px;
		display: grid;
		grid-template-rows: repeat(2, minmax(270px, auto));
		grid-template-columns: repeat(4, 270px);
		grid-auto-rows: minmax(270px, auto);
		gap:12px;
	}
}

.work-header{
	margin-bottom: 60px;
	text-align: center;
	&__title{
		margin-bottom: 19px;
		position: relative;
		z-index: 1;
		&::before{
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -15%);
			z-index: -1;
			width: 30px;
			height: 30px;
			background-color: $orange-color-background;
			border-radius: 50%;
		}
	}
	&__subtitle{
		margin-bottom: 12px;
	}
}


.technology{
	padding: 30px 30px 25px 30px;
	&__img{
		margin-bottom: 20px;
		min-height: 65px;
		img{
			object-fit:cover;
			height: 100%;
		}
	}
	&__title{
		margin-bottom: 15px;
	}
	&__descr{
		font-size: 12px;
		line-height: 18px;
	}
}
#jquery-img{
	padding-top: 15px;
}